#navbar {
    text-align: center;
    display: flex;

}

#arriereplan {
    background-image: url('../html/modules/ImageSableArrierePlan.html');
    background-image: cover;


}

#services {
    display: flex;
    flex-direction: column;
}

#logo {

    display: block;
}

.container {

    display: flex;
    text-align: center;
    flex-direction: row;
}